@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  font-weight: normal;
}

:root {
  --bg-color: #030303;
  --header-color: #1c0710; /*Header*/
  --color1: #3b0829; /*hover, borda ou gradiante*/
  --color2: #331a3a; /*hover, borda ou gradiante*/
  --card-color: #261b29; /*Fundo de card*/
  --accent-color: #ca7a87; /*Cor para destaque*/
  --text-color: #d3d3d3; /*Cor de texto*/

  --h1-size: 30px;
  --h2-size: 28px;
  --h3-size: 24px;
  --h4-size: 16px;
  --body1-size: 20px;
  --body2-size: 18px;
  --body3-size: 16px;
  --body4-size: 14px;
  --text-small: 12px;

  --title-weight: 700px;
  --text-weight: 400px;
  --menu-weight:500px;
}

body,
img,
h1,
p,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: var(--body1-size);
  font-weight: var(--title-weight);
}

h2 {
  font-size: var(--body2-size);
  font-weight: var(--text-weight);
}

h3 {
  font-size: var(--body3-size);
  font-weight: var(--text-weight);
}

h4 {
  font-size: var(--body4-size);
  font-weight: var(--text-weight);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: var(--h1-size);

  }

  h2 {
    font-size: var(--h2-size);

  }

  h3 {
    font-size: var(--h3-size);
  }

  h4 {
    font-size: var(--h4-size);
  }
}
