.main-header {
  background: var(--header-color);
  font-family: "Releway";
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: end;
  padding: 38px 48px;
  position: relative;
  box-sizing: border-box;
}

.main-header .list-links li a {
  color: white;
  font-family: "Releway", sans-serif;
  text-decoration: none;
  font-size: 20px;
  opacity: 50%;

}

.logo {
  display: block;
  padding: 14px auto;
}

.img-mobile {
  display: block;
}

.img-desktop {
  display: none;
}

.navigation-menu {
  margin-top: 25px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--header-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  .main-header {
    align-items: center;
  }
  .navigation-menu {
    margin-top: 0;
  }
  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 467px;
  }

  .navigation-menu ul a {
    transition: 0.3s;
  }

  .navigation-menu li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  main-header {
    display: flex;
    padding: 38px 120px;
  }

  .logo {
    width: 260px;
    height: 64px;
  }

  .img-desktop {
    display: block;
  }

  .img-mobile {
    display: none;
  }

  .navigation-menu li a:hover {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1920px) {
  main-header {
    padding: 60px 160px;
  }
}
